<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-image" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {#
            {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),
          ('group_index', _('Groups')), ('home.about', _('About')) ) }}
          #}
                
                      <li class="nav-button"><a href="/dataset">Data <span class="sr-only">(current)</span></a>
                          <hr id="dataset" class="options-underline hidden-xs" align="center">
                      </li>
                      <li class="nav-button"><a href="/organization">Organizations</a>
                          <hr id="organization" class="options-underline hidden-xs" align="center">
                      </li>
                      <li class="nav-button"><a href="/showcase">Showcase</a>
                          <hr id="showcase" class="options-underline hidden-xs" align="center">
                      </li>
                      <li class="nav-button"><a href="/blog">Blog</a>
                          <hr id="blog" class="options-underline hidden-xs" align="center">
                      </li>
                      <li class="nav-button"><a href="/contact">Connect</a>
                          <hr id="contact" class="options-underline hidden-xs" align="center">
                      </li>            
                      <li class="nav-button dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/pages/covid19">COVID19 Hackathon</a></li>
                          <li><a href="/pages/datathon-pakistan-data-weekend">Datathon</a></li>
              <li><a href="/pages/data-viz-challenge">DATA VIZ Challenge</a></li>
                      </ul>
                      <hr id="about" class="options-underline hidden-xs" align="center">
                      </li>
                      <li class="nav-button dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/about">About Us</a></li>
                          <li><a href="/pages/guidelines">Guidelines</a></li>
                      </ul>
                      <hr id="about" class="options-underline hidden-xs" align="center">
                      </li>
                
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>