<div>
    <nav style="margin: 0px" class="custom-footer navbar navbar-inverse">
    <div class="container">
    <div class="row container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-sm-2 navbar-header">
            <!-- <a href="/">
                <img class="logo-image" src="/uploads/admin/2019-12-17-163606.430565logo.png" alt="Open Data Pakistan" title="Open Data Pakistan">
            </a> -->
            <!-- <button align="right" type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target="#bs-footor-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-footor-navbar-collapse-1"> -->
        <ul class="nav navbar-nav navbar-options">
            
                <li class="nav-button-footer"><a href="/dataset">Data <span class="sr-only">(current)</span></a></li>
                <li class="nav-button-footer"><a href="/organization">Organizations</a></li>
                <li class="nav-button-footer"><a href="/showcase">Showcase</a></li>
                <li class="nav-button-footer"><a href="/blog">Blog</a></li>
                <li class="nav-button-footer"><a href="/contact">Connect</a></li>
                <li class="nav-button-footer dropup">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/pages/guidelines">Guidelines</a></li>
                </ul>
                </li>
                
        </ul>
        <!-- </div> -->
    </div>
</div>
    </nav>
</div>
