{% trans %}
<p>Un recurso para el uso, reutilización y diseminación de datos abiertos en el contexto de la gestión del Gobierno Local de El Guarco</p>

<p>Los portales de Datos Abiertos, son un conjunto de tecnologías, políticas, estándares, servicios y recursos humanos necesarios para la recopilación, catalogación, manipulación, acceso, distribución y utilización de datos en diferentes niveles. Un Portal de Datos Abiertos, es una base para el descubrimiento de datos, su evaluación y su utilización por parte de todo tipo de usuarios, tanto del sector público como del sector privado, académico, no gubernamental o de los mismos ciudadanos.</p>


<h1>¿Qué son los datos abiertos?</h1>

<p>Son considerados datos abiertos todos aquellos datos accesibles y reutilizables, sin exigencia de permisos específicos. 

<p>Los Datos Abiertos son datos que pueden ser utilizados, reutilizados y redistribuidos libremente por cualquier persona, y que se encuentran sujetos, cuando más, al requerimiento de atribución y de compartirse de la misma manera en que aparecen, respetando la seguridad y privacidad de la información. Por eso, y siempre que no contengan información personal sobre individuos específicos que pongan en riesgo su privacidad, es fundamental abrirlos.</p>

<p>Los Datos Abiertos es información digital que se encuentra bajo licencia y a disponibilidad de cualquier persona, y que cuenta únicamente con algunas estipulaciones. Normalmente, los datos son públicos, abiertos o atribuidos. Cualquier dato o contenido que es de uso libre y distribuido recae bajo la idea de datos abiertos.</p>

<p>Un <b>Portal de Datos Abiertos </b>puede ser concebido como un instrumento de gestión de datos, que permite entre otras cosas, el análisis visual, del comportamiento de las variables que inciden en la gestión de una organización, con el fin de definir planes, programas y acciones relativas a la mejora y calidad de sus funciones, a la par de prestar un servicio a otros organismos que requieran información oportuna sobre el área o contexto de estudio, accesible a través de Internet, enmarcada dentro del contexto actual de diseminación de datos abiertos.</p>
A manera de justificación podemos afirmar que, en el contexto de la gestión pública moderna se reconoce que, sin datos estratégicos, sin el conocimiento de la realidad, no se pueden trazar políticas ni planificar con alguna garantía de eficacia. 

<br>

<h1>Diferencia entre dato e información</h1>


<p><b>Dato:</b> El dato es un elemento descontextualizado que puede dar origen a la generación de información. Son símbolos que describen hechos, condiciones, valores o situaciones. Un dato puede ser una letra, un número o cualquier símbolo que representa una cantidad, una medida, una palabra o una descripción. Los datos son la verdadera materia prima para generar información con valor agregado.</p>

<p><b>Información: </b> Es un dato dotado de relevancia y utilidad. Para obtener información es necesario aplicar algún tipo de transformación o procesamiento sobre los datos. Convertir datos en información es un proceso que genera valor, aporta relevancia, genera algo nuevo que se desconocía</p>


<p>El acceso a datos abiertos transformados en información inteligible, concebido como conocimiento sobre el funcionamiento de la dinámica social y territorial, es el sustento o materia prima para la implantación de sistemas de planificación estratégica; un sistema inteligente de análisis de variables inherentes a contextos sociales, económicos y culturales, basados en dispositivos permanentes de observación del territorio y del efecto de las políticas. </p>

<br>

<h1>Diferencia entre dato público y dato abierto</h1>



<p><b>Dato público:</b> es cualquier dato generado en el ámbito gubernamental, o que se encuentra bajo su custodia, y que no tiene su acceso restringido por ninguna legislación específica.</p>
<p><b>Dato abierto: </b>es el dato público disponible en un medio digital, bajo una licencia abierta y usando para ello un formato estándar abierto.</p>

<br>


<h1>¿Por qué abrir datos públicos y convertirlos en datos abiertos?</h1>


<p>El sector público, los privados, las organizaciones de la sociedad civil, las universidades y/o cualquier ciudadano, puedan reutilizar los datos, agregarles valor, generar información y crear nuevos o mejores servicios y aplicaciones.</p>


<h1> Beneficios de la apertura de datos </h1>

<p> Permiten tomar decisiones basadas en evidencia. La identificación, ordenamiento y gestión de la información en la Administración Pública mejoran la interoperabilidad y la comunicación interna. </p>

<p> Abrir información transparenta la gestión y permite que los ciudadanos y las organizaciones de la sociedad civil puedan verificar, fiscalizar y monitorear la gestión pública.  </p>
<p> La posibilidad de reutilizar, relacionar y construir a partir de los datos que están disponibles genera oportunidades para mejorar y crear nuevas aplicaciones, servicios públicos, proyectos de valor agregado para optimizar la gestión.</p>
<p> La apertura permite que la ciudadanía, a partir de poder conocer y utilizar la información, pueda participar y colaborar activamente en la mejora de los servicios públicos, impulsar la innovación y el desarrollo colectivo de soluciones a problemas comunes.</p>



<h1> Los datos abiertos serán consistentes con los siguientes principios</h1>


<p>La iniciativa Open Government Data, definió ocho características que especifican condiciones a tener en cuenta para que los datos “públicos” sean, además, efectivamente “abiertos”

<p><b>Completos:</b> están disponibles y no tienen restricciones para su apertura.</p>
<p><b>Primarios: </b> son recolectados en la fuente de origen, con el nivel de especificidad más alto posible, no en forma agregada ni modificada.</p>
<p><b>Oportunos: </b> están disponibles tan rápido como sea necesario para preservar su valor.</p>
<p><b>Accesibles: </b> están disponibles para el rango más amplio de usuarios y propósitos.</p>
<p><b>Procesables por máquinas: </b> están estructurados de forma tal que permitan un procesamiento automático.</p>
<p><b>No discriminatorios:  </b> están disponibles para cualquier ciudadano, sin requerir un registro.</p>
<p><b>No propietarios: </b> están disponibles en un formato sobre el cual ninguna empresa de software tiene un control exclusivo.</p>
Licencias libres: los datos abiertos deben tener una licencia que especifique que se trata de datos abiertos y que defina bajo qué condiciones estos datos pueden ser reutilizados. La licencia podría, además, detallar que las personas que usen los datos deben atribuirlos y que, en caso de que combinen los datos con otros datos, deben compartir esta información también como datos abiertos. </p>

<br>

<p><b>Gobierno Local de El Guarco, Costa Rica</b> <a href="https://www.muniguarco.go.cr/">https://www.muniguarco.go.cr/</a><br />

{% endtrans %}
