<section>
    <div class="jumbotron">
        <div class="container">
            <div class="row-fluid" align="center">
                <div class="col-sm-12 col-md-4">
                    <a href="/organization">
                        <img class="homepage-action-image image-fluid image-responsive" src="/data.png">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="/showcase">
                        <img class="homepage-action-image image-fluid image-responsive" src="/story.png">
                    
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="/pages/what-is-open-data">
                        <img class="homepage-action-image image-fluid image-responsive" src="/opendata.png">
    
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    