<section>
    <div class="banner-image">
        <div class="container">
                
    <div align="center">
        <div class="search-form-holder">
        <form class="module-content search-form" method="get" action="/dataset">
        <h3 class="search-heading">Find, Explore and Reuse Pakistan's Open Data</h3> 
            <div class="search-input form-group search-giant">
                <input aria-label="Search datasets" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="Search Pakistan Open Data">
                <button type="submit">
                <i class="hidden-xs fa fa-search"></i>
                <span class="sr-only">Search</span>
            </button>
            </div>
        </form>
        </div>
    </div>
            
        </div>
    </div>
    </section>
    