{% set groups = h.get_featured_groups() %}

{% for group in groups %}
  <div class="boxprincipal">
  <div class="heading4">{{ _("Grupos destacados") }}</div>
    {% snippet 'snippets/group_item.html', group=group, truncate=100, truncate_title=40 %}
	<div class="box3">
	{% if group.package_count %}
        <p> Total registros:</p> <strong>{{ ungettext('{num} Dataset', '{num} Datasets', group.package_count).format(num=group.package_count) }}</strong>
      {% else %}
        <span>{{ _('0 Datasets') }}</span>
      {% endif %}
	</div>
  </div>
{% endfor %}
