{% set stats = h.get_site_statistics() %}

<section class="info-bar info-bar-clean">
    <div class="row countTo-sm text-center">

        <div class="col-xs-6 col-sm-5th">
           <span class="countTo" data-speed="3000" style="color:#C02942">{{ h.SI_number_span(stats.dataset_count) }}</span>
             <a href="{{ h.url_for('dataset.search') }}"><h5>{{ _('Dataset') }}</h5></a>
        </div>

        <div class="col-xs-6 col-sm-5th">
            <span class="countTo" data-speed="3000" style="color:#C02942">{{ h.SI_number_span(stats.organization_count) }}</span>
            <a href="{{ h.url_for(controller='organization', action='index') }}"><h5>{{ _('Fuentes de Datos')}}</h5></a>
        </div>

        <div class="col-xs-6 col-sm-5th">
           <span class="countTo" data-speed="3000" style="color:#C02942">{{ h.SI_number_span(stats.group_count) }}</span>
             <a href="{{ h.url_for(controller='group', action='index') }}"><h5>{{ _('Groups') }}</h5></a>
        </div>


    </div>
</section>