<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row2">
	    <div class="col-md-3 col-sm-3">
          <a class="logo" href="https://www.muniguarco.go.cr/"><img src="/base/images/logo_muni_guarco_blanco.png" alt="{{ g.site_title }} Logo" height="62" width="140" title="{{ g.site_title }} Gobierno Local de El Guarco" /></a>
        </div>
	    <div class="col-md-3 col-sm-3">
          <ul>
            {% block header_site_navigation_tabs %}
              {{ h.build_nav_main(
                ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('home.about', _('About'))
              ) }}
            {% endblock %}
          </ul>
        </div>
	   <div class="col-md-3 col-sm-3">
          <ul>
            <li><a href="https://www.gobiernoabierto.go.cr/">Costa Rica Gobierno Abierto</a></li>
	    <li><a href="https://muniguarco.go.cr/contacto/">Contacto</a></li>
          </ul>
        </div>
		
      <div class="col-md-3 col-sm-3">

        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
